<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
  way1
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <div [style.font-size.px]="fontSizePx">Resizable Text</div>
  <label>font szie</label> <input [(ngModel)]="fontSizePx"/>
  way2
  <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>


  <div>
    <div>{{ dataValue }}</div>
    <br>
    <input [value]="dataValue">
    <br>
    <input [(ngModel)]="dataValue" />
    <br>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->